{
  "root": true,
  "env": { "browser": true, "es2020": true },
  "extends": [
    "airbnb",
    "airbnb-typescript",
    "airbnb/hooks",
    "plugin:@typescript-eslint/recommended",
    "plugin:react-hooks/recommended"
  ],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "ignorePatterns": ["dist", ".eslintrc", "vite.config.ts", "setupTest.ts"],
  "parser": "@typescript-eslint/parser",
  "plugins": ["react-refresh"],
  "rules": {
    "react-refresh/only-export-components": [
      "warn",
      { "allowConstantExport": true }
    ],
    "react/react-in-jsx-scope": 0,
    "no-console": 0,
    "no-param-reassign": ["error", { "props": false }],
    "consistent-return": 0,
    "react/jsx-props-no-spreading": 0,
    "default-case": 0,
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
    "no-alert": 0,
    "max-len": ["error", { "code": 120 }],
    "no-case-declarations": 0
  }
}
